
.product{
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 10px;
    h5{
        color: $mainColor;
        margin: 10px;
        height: 50px;
    }
    img{
        width: 100%;
        min-height: 200px;
        height: 200px;
    }
 
    span{
        margin: auto;
        text-align: center;
    }
    .action{
        margin-top: 15px;
        border: 1px solid rgb(221, 220, 220);
       padding: 10px;
    .rtl{
        direction: rtl;
       }
       
    }
    .click{
        cursor: pointer;
        &:hover {
         color: $mainColor;
       }
    }
    .price{
        font-weight: bold;
        font-size: 22px;
    }
}
.products{
    margin-top: 100px;
    text-align: center;
    .productsElements{
        margin-top: 40px;
        margin-bottom: 350px;
    }
}